header{
    background-color:#FFCD9E;
    flex-wrap:wrap;
    height:600px;
    width:1520px;
    
  }
  .header-left{
    TEXT-ALIGN:LEFT;
    float:left;
    line-height:1.5;
    color:black;
    width:500px;
    
    margin:90px;
    font-family:arial;
    flex-wrap:wrap;
  }
  .header-right{
    text-align:right;
   
    display:inline;
    height:200px;
    width:400px;
    size: 20%;
    margin:auto;
    font-family:arial;
    
    
  }
  
  footer{
    background-color:#282828;
    flex-wrap:wrap;
    height:350px;
    width:1520px;
    
  }
  .footer-left{
    TEXT-ALIGN:LEFT;
    float:left;
    color:white;
    margin-left:100px;
    margin-top:70px;
font-size: 20px;
font-family: Arial;
font-weight: 400;
line-height: 15px;
word-wrap: break-word
  }
  .footer-right{
    text-align:right;
    float:right;
    color:white;
    margin-right:100px;
    margin-top:70px;
font-size: 20px;
font-family: Arial;
font-weight: 400;
line-height: 15px;
word-wrap: break-word
  }
  input[type=text] {
    width: 344px;
height: 50px;
left: 136px;
top: 411px;
box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    
    border-color: black;
    border: 3px solid #000000;
    border-radius: 8px;
  }
  
  
.registerbtn{



width: 216px;
height: 50px;
left: 496px;
top: 411px;
background: #282828;
border-radius: 8px;



font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.fa {
  font-size: 20;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {

  color: #FFCD9E;
}

/* Twitter */
.fa-instagram {
 
  color: #FFCD9E;
}